@tailwind base;
@tailwind components;
@tailwind utilities;

.scrollbar-none::-webkit-scrollbar {
  display: none;
}
.scrolling-content div {
  animation: scroll-up 40s infinite alternate; /* Use alternate animation */
}

@keyframes scroll-up {
  from {
    transform: translateY(100%);
  }
  to {
    transform: translateY(-100%);
  }
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
